.calculator
{
    width: 200px;
    margin: 0 auto;
    text-align: center;
    background-color:darkgray;
}
.calculator input
{
    width: 93%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
}
.calculator table
{
    width: 100%;
}
.calculator table button
{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}